<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>NFL Standings</title>
    <link rel="stylesheet" href="style.css>"
  </head>

  <body>
    <h1>NFL Mini League</h1>
    <a href="/leaderboard">Leaderboard</a>
  </body>

</html>



