<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>NFL Mini League</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <img src="img/minileaguelogo.gif" alt="League Logo" height="100" width="100">
    <h1>NFL Mini League</h1>
    <h4>Teams</h4>

    <ul>
      <li><a href="/team/Broncos">Broncos</a></li>
      <li><a href="/team/Colts">Colts</a></li>
      <li><a href="/team/Patriots">Patriots</a></li>
      <li><a href="/team/Steelers">Steelers</a></li>
    </ul>

    <a href="/leaderboard">Leaderboard</a>

  </body>

</html>



