<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Mini League Leaderboard</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <h1>Standings</h1>


    <table border="1" style="width:300px">
      <tr>
        <th>Team</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Ties</th>
      </tr>
      <% @standings.each do |team| %>
        <tr>
          <td><%= team[:team] %></td>
          <td><%= team[:wins] %></td>
          <td><%= team[:losses] %></td>
          <td><%= team[:ties] %></td>
        </tr>
        <% end %>
    </table>


    <a href="/">Home</a>

  </body>

</html>



